<!-- Header -->
<header id="header">
    <h1><a href="/" style="font-size: 1.2em">LM' s Note</a></h1>
    <nav class="links">
        <ul>
            <li><a href="/posts" style="font-size: 0.9em"><strong>Posts</strong></a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" action="/404.html">
                    <input type="text" name="query" placeholder="请输入关键字"/>
                </form>
            </li>
            <li class="menu">
                <!--<a class="fa-bars" href="#menu">Menu</a>-->
                <a href="/posts" class="fa-bars">Post</a>
            </li>
        </ul>
    </nav>
</header>